html {
  background: #8ac6d1;
  text-align: center;
}
#main {
  background: #fffdf9;
  margin: 50px;
  padding-top: 5px;
  padding-bottom: 30px;
}
h1 {
  text-align: center;
}
canvas {
  width: 100%;
  border: 1px solid;
}
.btn {
  padding: 10px 20px;
  margin: 5px;
  background-color: #beebe9;
}

#clrbtn {
  width: 60px;
  padding: 5px;
  background-color: none;
}

#clrbtn:hover {
  border-radius: 3px;
  background-color: #2a7886;
}

.btn:hover {
  background-color: #2a7886;
  font-weight: 700;
  border-radius: 5px;
}
#quote,
#clrpara {
  font-size: 120%;
}
