html{
    background: #ffb84d;
    text-align: center;
    border: 50px solid #ff9900;
  }
  #main{
    background: #ffe0b3;
    margin: 50px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
  h1{
    text-align: center;
  }
  canvas{
    width: 500px;
    border: 2px solid; 
  }
  .btn{
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffb84d;
    border-radius: 5px;
  }
  
  #clrbtn{
    border-radius: 3px;
    width: 60px;
    padding: 5px;
    background-color: #ffb84d;
  }
  
  #clrbtn:hover{
    background-color: #ff9900;
  }
  
  .btn:hover{
    background-color: #ff9900;
    font-weight: 700;
  }
  #quote,#clrpara{
    font-size: 120%;
  }
  